*{
	padding: 0px;
	margin: 0px;
}
body{
	font-family: tahoma;
	font-size: 12px;
}
a{
	text-decoration: none;
	color: black;
}
.wrap{
	width: 1000px;
	margin: auto;
}


.header{
	background-image: url('../img/header.jpg');
	line-height: 19px;

}

.header-left{
	width: 250px;
	float: left;
	color: white;
	padding-left: 10px;
}


.header-right span{
	margin-left: 10px;
	color: white;
}
.header-right{
	width: 750px;
	list-style: none;
	text-align: right;

}

.header-right ul li{
	display: inline;

}
.header-right ul li a{
	color: white;
	padding: 10px;

}


.menu ul {
	list-style: none;
	border-bottom: 1px solid #dddddd;
}

.menu ul li {
	display: inline;
}

.menu ul li a {
	font-weight: bold;
	font-size: 14px;
	padding-right: 20px;

}

/*CONTENT*/

.content{
	padding: 20px 10px ;
}

.content-left{
	float: left;
	/*box-shadow: 5px 10px black;*/
}
.content-right{
	width: 260px;
	height: 320px;
	border: 1px solid #ccc;
	float: right;
	margin: : 15px;
	box-shadow: 2px 3px 2px black;
	background: linear-gradient(to bottom right , white 20%, #f0efea);
}

.content-right h1{
	font-size: 16px;
	color: red;
	border-bottom: 1px solid black;
	padding: 10px;
	
}
.content-right li{
	padding: 7px;
	list-style: none;
	border-bottom: 1px dotted black;

}
.content-right li:last-child{
	border-bottom: none;
}
.content-right li a{
	text-decoration: none;

}
.content-right span{
	opacity: 0.7;
}
.content-right img{
	width: 36px;
	height: 20px;

}


}
/*-END CONTENT*/
.category{
	margin-top: 10px;
	background-image: url('../img/category.jpg');
}
.category ul {
	list-style: none;
	line-height: 52px;
}

.category ul li{
	float: left;
	width: 20%;
	text-align: center;
	font-weight: bold;
}

.footer-{
	margin-top: 10px;
	background-color: #b37a4d;
	line-height: 40px;
	padding-left: 15px;
	color: white;
	text-align: center;
}