*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;


}
a{
	text-decoration: none;

}
ul{
	list-style: none;
}
body{
	font-family: tahoma;
	font-size: 12px;
}
.wrap{
	width: 1000px;
	margin: 0px auto;
}
/*header*/
header{
	background-image: url('../img/backg-header.jpg');
	height: 127px;
	width: 1000px;	
}
.logo-header{
	float: left;
	margin: 15px 30px;
	opacity: 0.7;


}
.text-header{
	padding-top: 25px;
	
}
.text-header p{
	color: white;
	font-size: 23px;
	text-shadow: 2px 0px #0620de,-2px 0px #0620de,0px 2px #0620de,0px -2px #0620de;
}
.text-header p:first-child{
	margin-left: 100px; 
}
.text-header p:nth-child(2){
	text-align: center;
}
.text-header p:nth-child(3){
	text-align: center;
}
/*end header*/
.main{
	height: 1158px;
}
/*menu-top*/
.menu-top{
	margin-top: 3px;
	
}
.menu-top-time{
	background-image: url('../img/time-on-menu.jpg');
	float: left;
	text-align: center;
	height: 20px;
	width: 184px;
}
.menu-top-time p{
	text-align: center;
	font-size: 13px;
	line-height: 20px;

}
.menu-top-content{
	background-image: url('../img/menu-top-backg.jpg');
	width: 816px;
	height: 20px;	
	float: left;
}
.menu-top-content ul{
	list-style: none;
	text-align: center;

}
.menu-top-content ul li{
	display: inline;
	border-left: 1px solid white;

}
.menu-top-content ul li a{
	text-decoration: none;
	color: white;
	font-size: 17px;
	padding: 10px;

}
.menu-top-content ul li a:hover{
	opacity: 0.8;
}
.menu-top-content ul li:first-child{
	border-left-width: 0px;
}
/*end-menu-top*/
/*main-left*/
.main-left{
	width: 185px;
	float: left;
}
.main-left-category{
	background-image: url('../img/main-left-category.jpg');
	margin-top: 10px;	
	width: 183px;
	height: 263px;
	
}
.main-left-category ul{
	list-style: none;
	padding-top: 1px;
/*	border: 1px solid #ddd;*/

}
.main-left-category  ul li{
	padding-left: 30px;

	line-height: 21px;

}
.main-left-category ul li a{
	text-decoration: none;
	color: white;
	font-size: 14px;
}


.hotproduct{
	background-image: url('../img/hotproduct.jpg');
	margin-top: 10px;
	width: 186px;
	height: 522px;
	padding-bottom: 10px;
}
.hotproduct ul{
	list-style: none;
	padding-top: 45px;
}

.hotproduct ul li{
	background-image: url('../img/hotproduct-img.jpg');
	width: 173px;
	height: 92px;
	padding-bottom: 10px;
	background-repeat: no-repeat;
	margin-left: 4px;
	padding-left: 75px;
	padding-top: 19px;
}
.hotproduct ul li:nth-child(2){
	padding-top: 32px;
}
.hotproduct ul li:nth-child(3){
	padding-top: 32px;
}
.hotproduct ul li a{
	text-decoration: none;
	font-size: 18px;
	color: #9d0101;
}



.ads{
	margin-top: 10px;
	width: 185px;
	height: 221px;
}
/*end-main-left*/
/*main-center*/
.main-center{
	width: 515px;
	float: left;
	padding-left: 5px;
}
.main-center-banner{
	margin-top: 10px;
	background-image: url('../img/main-center-banner.jpg');
	width: 502px;
	height: 376px;	
}
.main-center-banner ul{
	list-style: none;
	padding-top: 289px;
}

.main-center-banner ul li a{
	text-decoration: none;
	font-size: 12px;
	color: black;


}
.main-center-banner ul li{
	line-height: 20px;
	padding-top: 6px;
	padding-left: 30px;
}
.main-center-banner ul li:last-child{
	padding-top: 10px;
}




.main-center-hot-tours{
	background-image: url('../img/main-center-hot-tours.jpg');
	margin-top: 10px;
	width: 246px;
	height: 326px;
	float: left;

}
.main-center-vip-tours{
	background-image: url('../img/main-center-vip-tours.jpg');

	margin-top: 10px;
	width: 246px;
	height: 326px;
	float: left;
	margin-left: 10px;
}
.hot-and-vip-tours ul{
	list-style: none;
	padding-top: 45px;
}
.hot-and-vip-tours ul li{
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 33px;

}
.hot-and-vip-tours ul li img{
	float: left;
	margin-right: 5px;
}
.hot-and-vip-tours ul li a{
	text-decoration: none;
	font-size: 11px;
	color: black;
}
.hot-and-vip-tours ul li a:hover{
	color: blue;
}



.main-center-polular-tours{
	background-image: url('../img/main-center-popular-tours.jpg');
	width: 498px;
	height: 371px;
	margin-top: 10px;
	padding-left: 4px;

}
.main-center-polular-tours ul{
	list-style: none;
	padding-top: 40px;
}
.main-center-polular-tours ul li{
	margin-top: 10px;
	padding-bottom: 20px;

}
.main-center-polular-tours-tittle{
	color: #9f0000;
	font-size: 14px;
	padding-bottom: 10px;
	font-weight: bold;
}
.main-center-polular-tours ul li a{
	text-decoration: none;
	font-size: 13px;
	color: black;
}
.main-center-polular-tours img{
	float: left;
	margin-right: 4px;
}
/*end-main-center*/
/*main-right*/
.main-right{
	width: 300px;
	float: left;
}
.main-right-video{
	border: 1px solid #ddd;
	padding: 3px;
	margin-top: 10px;
	text-align: center;
	width: 291px;
}
.main-right-video a{
	text-decoration: none;
	padding-left: 5px;
	color: black;
}
.main-right-video a:hover{
	color: blue;
}



.danh-thang-viet-nam{
	margin-top: 10px;
	width: 300px;
	height: 275px;
}

.am-thuc-viet-nam img{
	margin-top: 10px;
	width: 291px;
	height: 275px;

}

.main-right-support-online{
	background-image: url('../img/main-right-support-online.jpg');
	width: 287px;
	height: 120px;
	margin-top: 7px;
}
.main-right-support-online ul{
	padding-top: 30px;
	padding-left: 60px;
}
.main-right-support-online ul li{
	padding-bottom: 10px;
}
.main-right-support-online ul li a{
	text-align: center;
}

.menu-right-static {
	margin-top: 7px;
	background-image: url('../img/menu-right-static.jpg');
	width: 286px;
	height: 48px;
}
.menu-right-static img{
	float: left;
	padding-left: 30px;
	padding-top: 3px;
	margin-right: 10px;

}
.static-text{
	padding-top: 10px;
}



.main-right-advertising{
	margin-top: 5px;
	border: 1px solid #ddd;
	width: 287px;
	height: 149px;
	text-align: right;
	padding: 6px 3px;
}

.wrap-main-right-advertising{
	background-image: url('../img/menu-right-advertising.jpg');
	background-repeat: no-repeat;
	width: 277px;
	height: 135px;
}
.main-right-advertising p{
	font-size: 30px;
	color: white;
	padding-top: 80px;


}



/*menu-bottom*/
.menu-bottom{
	margin-top: 5px;
	background-image: url('../img/menu-bottom.jpg');
	height: 22px;
}
.menu-bottom ul{
	list-style: none;
	text-align: center;

}
.menu-bottom ul li{
	display: inline;
	line-height: 22px;
	border-left: 1px solid white;
	padding: 0px 20px;
}
.menu-bottom ul li:first-child{
	border-left-width: 0px;

}
.menu-bottom ul li a{
	color: white;
}
/*end menu-bottom*/
/*end-main-right*/
footer{
	background-image: url('../img/footer-backg.jpg');
	text-align: center;
	line-height: 64px;
}